/* desktop version */

@media screen and (min-width: 501px) {
.App {
  text-align: center;
}

.nav{
  margin: 0;
  padding: 0;
  padding: 0.5%;
  display: flex;
  align-items: center;
  width: 10ch;
  animation: typing 2s steps(25), blink .6s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2.2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.navlinks{
  margin: 1%;
  padding: 0%;
  width: 8%;
  height: 9%;
  border-radius: 100%;
  border: 1px solid rgb(29, 174, 247);
  background-color: rgb(74, 193, 248);
  display: inline-flex;
}

body{
  padding: 0 3%;
}

.images{
  width: 120%;
}

.nav h2{
  text-shadow: 2px 2px rgba(255, 255, 255, 0);
  /* box-shadow: 20px 20px rgba(9, 175, 252, 0.425); */
}


body h1, h2, h3, h5, h4{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(39, 181, 247);
  margin: 1%;
}

span{
  color: rgb(25, 177, 248);
  text-shadow: 2px 2px  rgba(255, 255, 255, 0.281);
}

.aboutMe{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: whitesmoke;
  margin: 2%;
  font-size: xx-large;
}

#aboutMe{
  padding: 20% 0;
  text-align: center;
}
button{
  margin: 5px;
}

a{
  color: rgb(249, 250, 250);
  font-style: none;
  text-decoration: none;
  list-style: none;
}
a:hover{
  text-decoration: none;
}
.bodyMobile{
  display: none;
}
}

.wrapper{
  margin: 0 15%;
}

footer{
  margin: 2%;
  color: white;
}

/* typewriter effect */



/* phone version */

@media screen and (max-width: 500px) {

  .App{
    text-align: center;
  }

  .nav{
    display: none;
  }

  .aboutMe{
    margin-bottom: 30%;
    max-width: 100%;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
  }

  body h1, h2, h3, h5, h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(39, 181, 247);
    margin: 5%;
  }

  span{
    color: rgb(25, 177, 248);
    text-shadow: 2px 2px  rgba(255, 255, 255, 0.281);
  }

  .body{
    display: none;
    margin: 50%;
    padding: 100px;
  }

  .images{
    width: 100%;
  }

  .bodyMobile{
    margin: 5% 0 ;
  }

}
