.App {
  text-align: center;
}

.nav{
  padding: 0.5%;
  border-bottom: 0.1em rgb(6, 167, 241) solid;
}

body{
  padding: 0 10%;
}


body h2, h5{
  color: rgb(6, 167, 241);
  margin: 1%;
}

li{
  padding:5%;
  display: inline-flex;
  color: rgb(10, 10, 8);
  font-size: large;
  list-style: none;
}

ul{
  padding: 0px;
  margin: 0px;
  display: inline-flex;
}