.App {
  text-align: center;
}

.nav{
  margin: 0;
  padding: 0;
  padding: 0.5%;
  /* border-bottom: 0.1em rgb(74, 193, 248) solid; */
  display: flex;
  align-items: center;
}

.navlinks{
  margin: 0;
  padding: 0%;
  width: 4%;
  height: 4%;
  border-radius: 100%;
  background-color: rgb(74, 193, 248);
  display: inline-flex;
}

body{
  padding: 0 5%;
}

.images{
  width: 120%;
}


body h1, h2, h3, h5, h4{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(74, 193, 248);
  margin: 1%;
}

span{
  color: rgb(74, 193, 248) ;
}

.aboutMe{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: whitesmoke;
  margin: 1%;
  font-size: xx-large;
}

#aboutMe{
  padding-top: 15%;
  text-align: center;
}
